doctype html
html
   head 
      link(href='https://allfont.net/allfont.css?fonts=bookman-old-style' rel='stylesheet' type='text/css')
   -const bodyStyles = {"font-family": "Bookman Old Style"}
   body(style = bodyStyles)
      -const texteStyles = { "padding": "50px", "margin": "auto",}
      div(style = texteStyles)
         p SAO RSK/DOCH/DtRH &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/#{currentYear} 
         -const titleStyles1 = {"text-align": "center", "margin-top": "90px"}
         div(style = titleStyles1)
               h4 -   DECISION D’ANNULATION DE STAGE    - 

            div 
               -const paragraph1Styles = { "margin-bottom": "50px"}
               p(style = paragraph1Styles) Le Directeur Général d’Al Omrane Rabat-Salé-Kenitra ;
                     <br> -Vu la demande formulée par l’intéressée ;
                     <br> -Vu la décision de stage N #{decisionCode} établie en date du #{decisionDate} ;
                     <br> -Vu le nombre d’absence injustifiées de l’intéressée ;
                     <br> -Vu l’appel téléphonique de l’intéressée stipulant l’annulation du stage.

            -const titleStyles2  = {"text-align": "center", "margin-top": "50px"}
            div(style = titleStyles2 )
               h4 <u>-DECIDÉ-</u>

            -const paragraph2Styles = { "margin-top": "50px","text-align": "justify", "text-justify": "inter-word"}
            div(style = paragraph2Styles )
               p <b><u>-Article 1</u></b> : Il est procédé à l’annulation du stage de Mlle. <b>#{fullname}</b> , au sein de la #{department}, qui était prévue du #{startDate} au #{endDate}.
               p <b><u>-Article 2</u></b> : Ce stage est annulé à compter du #{annulationDate}.
               p <b><u>-Article 3</u></b> : Les services concernés sont chargés de l’application de ladite décision. 

